@{
	ViewData["Title"] = "Thực đơn - Nhà Hàng Delicious";
	Layout = "~/Views/Shared/_RestaurantLayout.cshtml";
}

<div class="container">
	<!-- Header -->
	<header class="my-4">
		<h1 class="text-center">Thực Đơn Nhà Hàng</h1>	
	</header>

	<!-- Danh mục món ăn -->
	<div class="row mb-4">
		<div class="col-12">
			<ul id="categoryTabs" class="nav nav-tabs">
				<!-- Categories will be loaded by JavaScript -->
			</ul>
		</div>
	</div>

	<!-- Danh sách món ăn -->
	<div id="dishList" class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
		<!-- Dishes will be loaded by JavaScript -->
	</div>
</div>