@{
	ViewData["Title"] = "Khách hàng";
}

<h2 class="mb-4">Danh sách khách hàng</h2>

<table class="table table-bordered table-striped">
	<thead class="table-dark">
		<tr>
			<th>ID</th>
			<th>Họ tên</th>
			<th>Điện thoại</th>
			<th>Email</th>
			<th>Ngày sinh</th>
			<th>Địa chỉ</th>
			<th>Ảnh</th>
			<th>Thao tác</th>
		</tr>
	</thead>
	<tbody id="customerTableBody">
		<!-- dữ liệu sẽ render ở đây -->
	</tbody>
</table>
<script src="~/js/customer.js"></script>