<h4>Danh sách bảng lương</h4>
<table class="table">
    <thead>
        <tr>
            <th>Tháng</th>
            <th>Năm</th>
            <th>Hành động</th>
        </tr>
    </thead>
    <tbody id="payrollList"></tbody>
</table>
<script src="~/js/payroll.js"></script>
